In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Reading the merged dataframe

In [2]:
data = pd.read_csv('../Data/Final_table.csv')
data.head()

,datetime_beginning_ept,MIDATL_solar,OTHER_solar,RFC_solar,RTO_solar,SOUTH_solar,WEST_solar,MIDATL_wind,OTHER_wind,RFC_wind,...,DOM_forecast,DUQ_forecast,EKPC_forecast,MIDATL_forecast,RTO_forecast,DPL_historical_da,forecast_gen_outage_mw_rto,forecast_gen_outage_mw_west,forecast_gen_outage_mw_other,Henry Hub Natural Gas Spot Price (Dollars per Million Btu)
0,18/02/2022 00:00:00 AM,0.282,0.0,0.041,0.0,0.0,0.0,957.466,0.0,5625.364,...,9663.6,1254.400000,1313.6,24893.800000,78417.800000,38.95,2928.770833,257.166667,2671.604167,4.61
1,18/02/2022 01:00:00 AM,0.246,0.0,0.000,0.0,0.0,0.0,939.014,0.0,5291.098,...,9394.8,1233.000000,1334.2,24153.400000,76642.200000,36.43,2928.770833,257.166667,2671.604167,4.61
2,18/02/2022 02:00:00 AM,0.300,0.0,0.060,0.0,0.0,0.0,904.381,0.0,4676.792,...,9239.4,1224.200000,1365.4,23656.600000,75794.400000,36.36,2928.770833,257.166667,2671.604167,4.61
3,18/02/2022 03:00:00 AM,0.254,0.0,0.015,0.0,0.0,0.0,889.508,0.0,3968.681,...,9250.6,1229.000000,1428.8,23673.400000,75983.400000,36.59,2928.770833,257.166667,2671.604167,4.61
4,18/02/2022 04:00:00 AM,0.270,0.0,0.034,0.0,0.0,0.0,863.901,0.0,3413.737,...,9458.5,1270.166667,1537.0,24108.166667,77849.166667,38.60,2928.770833,257.166667,2671.604167,4.61

### Splitting the dataframe into test and training sets

In [12]:
feature_var = data.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28]]
target_var = data['DPL_historical_da']

X_train, X_test, y_train, y_test = train_test_split(feature_var, target_var, test_size=0.2, random_state=156)

# Feature Selection

In [16]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

# Initiate the SelectKBest model
model_fc = SelectKBest(score_func=f_classif, k=4)

# Fit the model to all data
diabetes_new = model_fc.fit(X_train, y_train)

# Check the selected features
diabetes_new.get_feature_names_out()

array(['APS_forecast', 'MIDATL_forecast', 'RTO_forecast',
       'Henry Hub Natural Gas Spot Price (Dollars per Million Btu)'],
      dtype=object)

In [15]:
data.columns

Index(['datetime_beginning_ept', 'MIDATL_solar', 'OTHER_solar', 'RFC_solar',
       'RTO_solar', 'SOUTH_solar', 'WEST_solar', 'MIDATL_wind', 'OTHER_wind',
       'RFC_wind', 'RTO_wind', 'SOUTH_wind', 'WEST_wind', 'AEP_forecast',
       'APS_forecast', 'ATSI_forecast', 'COMED_forecast', 'DAY_forecast',
       'DEOK_forecast', 'DOM_forecast', 'DUQ_forecast', 'EKPC_forecast',
       'MIDATL_forecast', 'RTO_forecast', 'DPL_historical_da',
       'forecast_gen_outage_mw_rto', 'forecast_gen_outage_mw_west',
       'forecast_gen_outage_mw_other',
       'Henry Hub Natural Gas Spot Price (Dollars per Million Btu)'],
      dtype='object')

# Linear Regression