In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('Final_table.csv')
data.head()

,datetime_beginning_ept,MIDATL_solar,OTHER_solar,RFC_solar,RTO_solar,SOUTH_solar,WEST_solar,MIDATL_wind,OTHER_wind,RFC_wind,...,DOM_forecast,DUQ_forecast,EKPC_forecast,MIDATL_forecast,RTO_forecast,DPL_historical_da,forecast_gen_outage_mw_rto,forecast_gen_outage_mw_west,forecast_gen_outage_mw_other,Henry Hub Natural Gas Spot Price (Dollars per Million Btu)
0,18/02/2022 00:00:00 AM,0.282,0.0,0.041,-4.019,-4.061,-0.240,957.466,NaN,5625.364,...,9663.6,1254.400000,1313.6,24893.800000,78417.800000,38.95,2928.770833,257.166667,2671.604167,4.61
1,18/02/2022 01:00:00 AM,0.246,0.0,-0.006,-4.236,-4.230,-0.252,939.014,NaN,5291.098,...,9394.8,1233.000000,1334.2,24153.400000,76642.200000,36.43,2928.770833,257.166667,2671.604167,4.61
2,18/02/2022 02:00:00 AM,0.300,0.0,0.060,-4.067,-4.128,-0.239,904.381,NaN,4676.792,...,9239.4,1224.200000,1365.4,23656.600000,75794.400000,36.36,2928.770833,257.166667,2671.604167,4.61
3,18/02/2022 03:00:00 AM,0.254,0.0,0.015,-3.981,-3.996,-0.239,889.508,NaN,3968.681,...,9250.6,1229.000000,1428.8,23673.400000,75983.400000,36.59,2928.770833,257.166667,2671.604167,4.61
4,18/02/2022 04:00:00 AM,0.270,0.0,0.034,-4.057,-4.092,-0.235,863.901,NaN,3413.737,...,9458.5,1270.166667,1537.0,24108.166667,77849.166667,38.60,2928.770833,257.166667,2671.604167,4.61